.article-content
	.inner
		display flex
	    flex-wrap wrap
	    padding 0px 20px 0px 20px
	&__box
		width 70%
		float left
		+below($tablet)
			width 100%
	&__title
		text-align center
		font-size 30px
		line-height 50px
	&__title-img
		margin auto
		padding 20px 
	&__text
		line-height 30px
		font-size 16px
		padding 10px
		text-align center
		


		 
	
		


		