    @media only screen and ( max-width: 767px){
      .global-banner{
        min-height: 75px;
      }
    }


.global-banner{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 150px;
  float: left;
}
.global-banner__logo-img

  padding-left  8%

  @media only screen and ( max-width: 767px){
  .global-banner__logo-img{
    width:200px;
    height:70px;
    padding-top: 30px;

  }
}
