.social-icons
	padding 10px 
	list-style none
	font-family techrev
	font-size 30px

		
	
.social-icon
	padding 20px
	text-align center
	display inline-block
	color #B2E6FF
	&:hover
		transform: scale(1.4)
		-webkit-transition all .3s ease-in-out
		-moz-transition all .3s ease-in-out
		-ms-transition all .3s ease-in-out
		-o-transition all .3s ease-in-out
		transition all .3s ease-in-out
	&__link		
		&:before
			color black
			
			
	  

