.global-footer
	background $red
	float left
	width 100%
	text-align center
	line-height 20px
	font-size 16px
	padding-top 20px		 
.global-footer .inner
	display flex
	flex-wrap wrap
	
	
.social-area
	float left
	width 50%
	+below($tablet)
		width 	100% 	

	
.site-map
	float left
	width 50%
	+below($tablet)
		width 	100% 


.bottom
	width 100%
	float left
	display none 
	



.copyright
	float left
	text-align center
	width 100%

	
