// -- Colors
$red = #D94D4D
$3red = #DD5F5F
$2red = #E17171
$1red = #E48282	
$0red = #E89494
$00red = #FBEDED

 
// -- Type 



$images  =           "../img/";


// -- Media Queries
$mobile = 480px
$tablet = 767px
$ltablet = 1023px
$desktop = 1230px

